.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .header {
    font-size: 26px;
    text-align: left;
    padding: 8px 0 8px 22px;
    background-color: black;
    color: white;
    margin-bottom: 22px;
  }

  .end-game {
    button {
      width: 250px;
    }
  }
}
