.logs {
  border: 1px solid;
  width: 600px;
  height: 320px;
  max-height: 360px;
  overflow-y: auto;
  text-align: left;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  background-color: #fcfcfc;

  .title {
    font-size: 105%;
  }
}
