.players {
  .p1 {
    color: #4169e1;
    text-transform: uppercase;
    text-align: right;
    width: 250px;
  }
  .p2 {
    color: #ff4500;
    text-transform: uppercase;
    text-align: left;
    width: 250px;
  }
}
